.ms-loading {
	inline-size: 25px;
	block-size: 25px;
	border-radius: 50%;
	border: 5px solid rgba(var(--light-bg-color), 1);
	border-block-start: 5px solid rgba(var(--default-bg-color), 1);
	-webkit-animation: spin 0.5s linear infinite;
	animation: spin 0.5s linear infinite;

	&.ms-small {
		inline-size: 10px;
		block-size: 10px;
		border: 3px solid rgba(var(--light-bg-color), 1);
		border-block-start: 3px solid rgba(var(--default-bg-color), 1);
	}

	&.ms-medium {
		inline-size: 45px;
		block-size: 45px;
		border: 8px solid rgba(var(--light-bg-color), 1);
		border-block-start: 8px solid rgba(var(--default-bg-color), 1);
	}

	&.ms-large {
		inline-size: 70px;
		block-size: 70px;
		border: 10px solid rgba(var(--light-bg-color), 1);
		border-block-start: 10px solid rgba(var(--default-bg-color), 1);
	}

	&.ms-primary {
		border-block-start-color: rgba(var(--primary-bg-color), 1);
	}

	&.ms-secondary {
		border-block-start-color: rgba(var(--secondary-bg-color), 1);
	}

	&.ms-action {
		border-block-start-color: rgba(var(--action-bg-color), 1);
	}

	&.ms-action2 {
		border-block-start-color: rgba(var(--action2-bg-color), 1);
	}
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
