<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="assets/css/monstyle.css" />
		<title>Nominsang</title>
	</head>
	<body>
		<div class="ms-menu">
			<div class="container">
				<div class="ms-menu-logo">
					<img src="https://minstyle.io/img/logo.png" />
				</div>
				<nav class="ms-menu-link">
					<input type="checkbox" id="ms-menu-toggle" />
					<label for="ms-menu-toggle" class="ms-menu-icon"
						><i class="fa fa-bars"></i></label>
					<ul>
					  <li><input type="text" placeholder="search"/></li>
						<li><a href="">首页</a></li>
						<li><a href="">文献</a></li>
						<li><a href="profile.html">用户</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="container">
	  	  <div class="row">
          <div class="col-sm-3">
            <ul>
              <li><a href="dashboard.html">Dashboard</a></li>
              <li>数据</li>
              <li><a href="edit.html">编辑</a></li>
              <li>Dashboard</li>
              <li>数据</li>
              <li>用户</li>
              <li>Dashboard</li>
              <li>数据</li>
              <li>用户</li>
              <li>Dashboard</li>
              <li>数据</li>
              <li>用户</li>
              <li>Dashboard</li>
              <li>数据</li>
              <li>用户</li>
              <li>Dashboard</li>
              <li>数据</li>
              <li>关于</li>
            </ul>
          </div>
          <div class="col-sm-9">
            <table class="ms-table ms-striped">
              <thead>
                  <tr>
                      <th>Rank</th>
                      <th>Team</th>
                      <th>Point(s)</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>1</td>
                      <td>FC Barcelona</td>
                      <td>98</td>
                  </tr>
                  <tr>
                      <td>2</td>
                      <td>Real Madrid</td>
                      <td>87</td>
                  </tr>
                  <tr>
                      <td>3</td>
                      <td>Atletico Madrid</td>
                      <td>80</td>
                  </tr>
                  <tr>
                      <td>1</td>
                      <td>FC Barcelona</td>
                      <td>98</td>
                  </tr>
                  <tr>
                      <td>2</td>
                      <td>Real Madrid</td>
                      <td>87</td>
                  </tr>
                  <tr>
                      <td>3</td>
                      <td>Atletico Madrid</td>
                      <td>80</td>
                  </tr>
                  <tr>
                      <td>1</td>
                      <td>FC Barcelona</td>
                      <td>98</td>
                  </tr>
                  <tr>
                      <td>2</td>
                      <td>Real Madrid</td>
                      <td>87</td>
                  </tr>
                  <tr>
                      <td>3</td>
                      <td>Atletico Madrid</td>
                      <td>80</td>
                  </tr>
                  <tr>
                      <td>1</td>
                      <td>FC Barcelona</td>
                      <td>98</td>
                  </tr>
                  <tr>
                      <td>2</td>
                      <td>Real Madrid</td>
                      <td>87</td>
                  </tr>
                  <tr>
                      <td>3</td>
                      <td>Atletico Madrid</td>
                      <td>80</td>
                  </tr>
                  <tr>
                      <td>1</td>
                      <td>FC Barcelona</td>
                      <td>98</td>
                  </tr>
                  <tr>
                      <td>2</td>
                      <td>Real Madrid</td>
                      <td>87</td>
                  </tr>
                  <tr>
                      <td>3</td>
                      <td>Atletico Madrid</td>
                      <td>80</td>
                  </tr>
                  <tr>
                      <td>1</td>
                      <td>FC Barcelona</td>
                      <td>98</td>
                  </tr>
                  <tr>
                      <td>2</td>
                      <td>Real Madrid</td>
                      <td>87</td>
                  </tr>
                  <tr>
                      <td>3</td>
                      <td>Atletico Madrid</td>
                      <td>80</td>
                  </tr>
                  <tr>
                      <td>1</td>
                      <td>FC Barcelona</td>
                      <td>98</td>
                  </tr>
                  <tr>
                      <td>2</td>
                      <td>Real Madrid</td>
                      <td>87</td>
                  </tr>
                  <tr>
                      <td>3</td>
                      <td>Atletico Madrid</td>
                      <td>80</td>
                  </tr>
                  <tr>
                      <td>1</td>
                      <td>FC Barcelona</td>
                      <td>98</td>
                  </tr>
                  <tr>
                      <td>2</td>
                      <td>Real Madrid</td>
                      <td>87</td>
                  </tr>
                  <tr>
                      <td>3</td>
                      <td>Atletico Madrid</td>
                      <td>80</td>
                  </tr>
                  <tr>
                      <td>1</td>
                      <td>FC Barcelona</td>
                      <td>98</td>
                  </tr>
                  <tr>
                      <td>2</td>
                      <td>Real Madrid</td>
                      <td>87</td>
                  </tr>
                  <tr>
                      <td>3</td>
                      <td>Atletico Madrid</td>
                      <td>80</td>
                  </tr>
                  <tr>
                      <td>1</td>
                      <td>FC Barcelona</td>
                      <td>98</td>
                  </tr>
                  <tr>
                      <td>2</td>
                      <td>Real Madrid</td>
                      <td>87</td>
                  </tr>
                  <tr>
                      <td>3</td>
                      <td>Atletico Madrid</td>
                      <td>80</td>
                  </tr>
              </tbody>
          </table>

				  <div class="ms-pagination">
					  <ul>
						  <li><a href="#">Prev</a></li>
						  <li><a href="#" class="ms-disabled">...</a></li>
						  <li><a href="#">11</a></li>
						  <li><a href="#">12</a></li>
						  <li><a href="#" class="ms-active">13</a></li>
						  <li><a href="#">14</a></li>
						  <li><a href="#">15</a></li>
						  <li><a href="#" class="ms-disabled">...</a></li>
						  <li><a href="#" class="ms-disabled">Next</a></li>
					  </ul>
				  </div>

          </div>
        </div>
		</div>

		<footer class="ms-footer ms-small ms-posision-fixed-bottom">
			<div class="container">
				<p>&copy 内蒙古大学图书馆 - 系统构建支持由 <b>nominsang.cn</b>提供</p>
			</div>
		</footer>
		<script src="assets/javascript/dark.js"></script>
		<script src="https://kit.fontawesome.com/d35975edad.js"></script>
	</body>
</html>
