<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="assets/css/monstyle.css" />

		<title>Nominsang</title>
	</head>
	<body>
		<div class="ms-menu">
			<div class="container">
				<div class="ms-menu-logo">
					<img src="https://minstyle.io/img/logo.png" />
				</div>
				<nav class="ms-menu-link">
					<input type="checkbox" id="ms-menu-toggle" />
					<label for="ms-menu-toggle" class="ms-menu-icon"
						><i class="fa fa-bars"></i></label>
					<ul>
						<li><a href="">首页</a></li>
						<li><a href="">文献</a></li>
						<li><a href="login.html">登录</a></li>
						<li><input type="text" placeholder="search"/></li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="container">
		  <div class="row ms-m-5">
		    <div class="col-sm-10">
		      main
		    </div>
		    <div class="col-sm-2 light">
		      sidebar
		    </div>
		  </div>
		</div>
		<footer class="ms-footer ms-small">
			<div class="container">
				<p>&copy 内蒙古大学图书馆 - 系统构建支持由 <b>nominsang.cn</b>提供</p>
			</div>
		</footer>
		<script src="assets/javascript/dark.js"></script>
		<script src="https://kit.fontawesome.com/d35975edad.js"></script>
	</body>
</html>
