<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="assets/css/monstyle.css" />
		<title>Nominsang</title>
	</head>
	<body>
		<div class="ms-menu">
			<div class="container">
				<div class="ms-menu-logo">
					<img src="https://minstyle.io/img/logo.png" />
				</div>
				<nav class="ms-menu-link">
					<input type="checkbox" id="ms-menu-toggle" />
					<label for="ms-menu-toggle" class="ms-menu-icon"
						><i class="fa fa-bars"></i></label>
					<ul>
					  <li><input type="text" placeholder="search"/></li>
						<li><a href="">首页</a></li>
						<li><a href="">文献</a></li>
						<li><a href="profile.html">用户</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="container">
	  	  <div class="row">
          <div class="col-sm-3">
            <ul>
              <li><a href="dashboard.html">Dashboard</a></li>
              <li><a href="data.html">数据</a></li>
              <li><a href="edit.html">编辑</a></li>
              <li>Dashboard</li>
              <li>数据</li>
              <li>用户</li>
              <li>Dashboard</li>
              <li>数据</li>
              <li>用户</li>
              <li>Dashboard</li>
              <li>数据</li>
              <li>用户</li>
              <li>Dashboard</li>
              <li>数据</li>
              <li>用户</li>
              <li>Dashboard</li>
              <li>数据</li>
              <li>关于</li>
            </ul>
          </div>
          <div class="col-sm-9">
            <div class="ms-user ms-border">
						<div class="ms-avatar ms-large">
							<img class="ms-avatar-img" src="https://randomuser.me/api/portraits/women/65.jpg" alt="...">
							<span class="ms-status ms-off"></span>
						</div>
						<div class="ms-user-info">
							<p>
								<b>John Doe</b><br>
								<i>Software Engineer</i><br>
								<a href="#" style="margin: 5px" class="ms-btn ms-small ms-outline ms-primary"><i class="fab fa-github fa-lg" aria-hidden="true"></i></a>
								<a href="#" class="ms-btn ms-small ms-outline ms-primary"><i class="fab fa-twitter fa-lg" aria-hidden="true"></i></a>
							</p>
						</div>
						<div class="ms-user-content">
							<button class="ms-btn ms-fullwidth">Message</button>
						</div>
						<div class="ms-user-pined">
							<a href="#"><i class="fas fa-cog fa-lg" aria-hidden="true"></i></a>
						</div>
					</div>
          </div>
        </div>
		</div>

		<footer class="ms-footer ms-small ms-posision-fixed-bottom">
			<div class="container">
				<p>&copy 内蒙古大学图书馆 - 系统构建支持由 <b>nominsang.cn</b>提供</p>
			</div>
		</footer>
		<script src="assets/javascript/dark.js"></script>
		<script src="https://kit.fontawesome.com/d35975edad.js"></script>
	</body>
</html>
