.ms-footer {
	inline-size: 100%;
	background-color: rgba(var(--light-bg-color), 1);
	text-align: center;
	box-sizing: border-box;
	margin: 0;
	padding-block: 3rem 4rem;
	padding-inline: 1rem;

	p {
		inline-size: 100%;
	}

	&.ms-small {
		padding-block: 1.5rem;
		padding-inline: 1rem;
	}
}
