.ms-menu {
	/* General */
	z-index: 999;
	inline-size: 100%;
	block-size: 50px;

	/* Colors */
	line-height: 50px;
	text-align: center;

	/* Color */
	background-color: rgba(var(--light-bg-color), 1);

	.ms-menu-logo {
		/* General */
		inline-size: auto;
		block-size: 50px;
		float: inline-start;

		/* Colors */
		color: rgba(var(--main-text-color), 1);

		/* Margin */
		margin-inline: 15px 0;
		margin-block: 0;
		padding: 0;

		p {
			font-size: 1.2rem;
			font-weight: 600;
			margin: 0;
			padding: 0;
		}

		img {
			max-block-size: 50px;
		}
	}

	.ms-menu-link {
		inline-size: auto;
		block-size: 100%;
		float: inline-end;

		ul {
			block-size: inherit;
			list-style: none;
			text-align: end;
			margin-block: 0;
			margin-inline: 0 15px;
			padding: 0;

			li {
				font-weight: 400;
				block-size: inherit;
				display: inline-block;
				margin: 0;
				padding: 0;

				&:last-child {
					padding-inline-end: 0;
				}

				a {
					/* Animation */
					-webkit-transition: 0.2s all ease;
					transition: 0.2s ease all;

					color: rgba(var(--main-text-color), 1);
					text-decoration: none;
					font-weight: 600;
					padding-block: 0;
					padding-inline: 20px;

					&:hover {
						color: rgba(var(--main-text-color), 0.6);
					}

					&:active {
						color: rgba(var(--main-text-color), 0.4);
					}
				}
			}
		}
	}

	#ms-menu-toggle {
		display: none;
	}

	.ms-menu-icon {
		display: none;
		cursor: pointer;
		color: rgba(var(--main-text-color), 1);
	}
}

/* Screen height < 640px */
@media screen and (max-height: 640px) {
	.ms-menu {
		.ms-menu-link {
			z-index: 999;
			background-color: rgba(var(--light-bg-color), 1);
			inline-size: 100%;
			block-size: auto;
			margin: 0;
			padding: 0;

			ul {
				display: block;
				max-block-size: 0;
				overflow: hidden;
				transition: max-block-size 0.3s;
				margin: 0;

				li {
					text-align: start;
					inline-size: 100%;
					block-size: 50px;
					margin: 0;
					padding: 0;
				}
			}
		}

		.ms-menu-icon {
			inline-size: 100px;
			block-size: inherit;
			display: block;
			position: absolute;
			inset-block-start: 0;
			inset-inline-end: 0;
			line-height: 60px;
		}

		#ms-menu-toggle:checked ~ ul {
			max-inline-size: 100%;
		}

		.ms-menu-icon i {
			font-size: 1.7em;
		}
	}
}
