.ms-table {
	inline-size: 100%;
	display: table;
	border-spacing: 0;
	margin-block-end: 1rem;
	color: rgba(var(--default-bg-color), 1);
	padding: 0;

	thead {
		color: rgba(var(--default-bg-color), 1);
		text-align: start;
	}

	td,
	th {
		color: rgba(var(--default-bg-color), 1);
		padding-block: 0.8rem;
		padding-inline: 0.4rem;
		border-block-end: 2px solid rgba(var(--default-border-color), 1);
	}

	th {
		font-weight: bold;
	}

	&.ms-striped {
		td,
		th {
			border: none;
		}

		tbody {
			tr:nth-of-type(odd) {
				background: rgba(var(--light-bg-color), 1);
			}
		}
	}

	&.ms-border{
		border: 2px solid rgba(var(--default-border-color), 1);
	}
}
